extends layout.pug

block title
    | #{__('portfolio.title')} | Conor Nickerson

block css
    link(rel='stylesheet', type='text/css', href='/css/portfolio.css')

block content
    .fade
        .container
            h1
                a(href='/photography') #{__('portfolio.title')}
            br
            ul.social
                li
                    a.fa.fa-instagram(href='https://www.instagram.com/conornickerson/', target='_blank')
                li
                    a.fa.fa-flickr(href='https://www.flickr.com/photos/125461361@N03/albums', target='_blank')

        section.portraits
            a(href='/' + getLocale() + '/portfolio/portraits') #{__('portfolio.portraits')}

        section.city
            a(href='/' + getLocale() + '/portfolio/city') #{__('portfolio.city')}

        section.rural
            a(href='/' + getLocale() + '/portfolio/rural') #{__('portfolio.rural')}

        section.careers
            a(href='/' + getLocale() + '/portfolio/work') #{__('portfolio.work')}
